.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.test {
    margin-left: 15rem;
    padding: 0;
}
.error {
    color: red;
}
footer {
    text-align: center;
}